/* ===== THEME VARIABLES ===== */

:root {
    /* Backgrounds */
    --bg-main: #22161a;
    --bg-dark: #1f1317;

    --surface-hgt: #d86a7a;
    --surface-hgt-shadow: #a84a5b;

    --surface: #412227;
    --surface-shadow: #331a1f;
    --surface-dsb: #3a1d22;

    --highlight: #d86a7a44;
    --shading: #00000030;

    --text-main: #f0c7cf;
    --text-muted: #c79aa3;
    --text-hgt: #e38a96;

    --border-solid: #c77a7a55;
    --border-weak: #c77a7a22;

    --accent: #d86a7a;
    --accent-dark: #8b3f49;
    --accent-hover: #9bb7ff;

    --bubble: #ffffff10;

    --card-hover: #ff8ef111;
    --card-agender: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.25) 0%,
        rgba(0, 0, 0, 0.4) 12%,
        rgba(163, 163, 163, 0.25) 15%,
        rgba(163, 163, 163, 0.4) 26%,
        rgba(255, 255, 255, 0.25) 29%,
        rgba(255, 255, 255, 0.4) 41%,
        rgba(186, 244, 175, 0.25) 44%,
        rgba(186, 244, 175, 0.4) 56%,
        rgba(255, 255, 255, 0.25) 59%,
        rgba(255, 255, 255, 0.4) 71%,
        rgba(163, 163, 163, 0.25) 74%,
        rgba(163, 163, 163, 0.4) 85%,
        rgba(0, 0, 0, 0.25) 88%,
        rgba(0, 0, 0, 0.4) 100%
    );

    --card-transgender: linear-gradient(
        90deg,
        rgba(91, 206, 250, 0.25) 0%,
        rgba(91, 206, 250, 0.4) 17%,
        rgba(245, 169, 184, 0.25) 20%,
        rgba(245, 169, 184, 0.4) 37%,
        rgba(255, 255, 255, 0.25) 40%,
        rgba(255, 255, 255, 0.4) 60%,
        rgba(245, 169, 184, 0.25) 63%,
        rgba(245, 169, 184, 0.4) 80%,
        rgba(91, 206, 250, 0.25) 83%,
        rgba(91, 206, 250, 0.4) 100%
    );

    --card-nonbinary: linear-gradient(
        90deg,
        rgba(252, 244, 52, 0.25) 0%,
        rgba(252, 244, 52, 0.4) 22%,
        rgba(255, 255, 255, 0.25) 25%,
        rgba(255, 255, 255, 0.4) 47%,
        rgba(156, 89, 209, 0.25) 50%,
        rgba(156, 89, 209, 0.4) 72%,
        rgba(44, 44, 44, 0.25) 75%,
        rgba(44, 44, 44, 0.4) 100%
    );

    --card-starbucks: linear-gradient(
        90deg,
        rgba(0, 112, 74, 0.25) 0%,
        rgba(0, 112, 74, 0.4) 22%,
        rgba(242, 240, 235, 0.25) 25%,
        rgba(242, 240, 235, 0.4) 47%,
        rgba(30, 65, 53, 0.25) 50%,
        rgba(30, 65, 53, 0.4) 72%,
        rgba(0, 112, 74, 0.25) 75%,
        rgba(0, 112, 74, 0.4) 100%
    );
    --card-pansexual: linear-gradient(
        90deg,
        rgba(255, 33, 141, 0.25) 0%,
        rgba(255, 33, 141, 0.4) 29%,
        rgba(255, 216, 0, 0.25) 32%,
        rgba(255, 216, 0, 0.4) 65%,
        rgba(33, 177, 255, 0.25) 68%,
        rgba(33, 177, 255, 0.4) 100%
    );
    --card-pride: linear-gradient(
        90deg,
        rgba(228, 3, 3, 0.25) 0%,
        rgba(228, 3, 3, 0.4) 13%,
        rgba(255, 141, 0, 0.25) 16%,
        rgba(255, 141, 0, 0.4) 29%,
        rgba(255, 238, 0, 0.25) 32%,
        rgba(255, 238, 0, 0.4) 45%,
        rgba(0, 128, 38, 0.25) 48%,
        rgba(0, 128, 38, 0.4) 61%,
        rgba(0, 78, 255, 0.25) 64%,
        rgba(0, 78, 255, 0.4) 77%,
        rgba(115, 41, 130, 0.25) 80%,
        rgba(115, 41, 130, 0.4) 100%
    );
    --card-bilexicon: linear-gradient(
        90deg,
        rgba(123, 181, 239, 0.25) 0%,
        rgba(123, 181, 239, 0.4) 13%,
        rgba(100, 165, 235, 0.25) 16%,
        rgba(100, 165, 235, 0.4) 29%,
        rgba(90, 110, 220, 0.25) 32%,
        rgba(90, 110, 220, 0.4) 45%,
        rgba(80, 73, 204, 0.25) 48%,
        rgba(80, 73, 204, 0.4) 61%,
        rgba(70, 45, 160, 0.25) 64%,
        rgba(70, 45, 160, 0.4) 77%,
        rgba(61, 26, 120, 0.25) 80%,
        rgba(61, 26, 120, 0.4) 100%
    );
    --trans: linear-gradient(0deg, #9eafff 30%, #ff8ef1 40%, #ffffff 50%, #ff8ef1 60%, #9eafff 70%);

    --petal-opacity: 50%;
}
