/* ===== THEME VARIABLES ===== */

:root {
    /* Backgrounds */
    --bg-main: linear-gradient(0deg, #7a4d4a 0%, #2c345a 35%, #010e21 100%);
    --bg-dark: #5c1e0021;

    /* Text */
    --text-main: #e2d7e0;
    --text-muted: #bb9ab5;

    /* Borders */
    --border-solid: #a87777;

    /* Accent */
    --accent: #ff8ef1;
    --accent-dark: #924d8a;
    --accent-hover: #9eafff;
    --bubble: #ffffff22;

    --card-hover: #ff8ef111;

    --trans: linear-gradient(0deg, #9eafff 30%, #ff8ef1 40%, #ffffff 50%, #ff8ef1 60%, #9eafff 70%);

    --petal-opacity: 50%;
}
