/* ===== THEME VARIABLES ===== */

:root {
    /* Backgrounds */
    --bg-main: #2a1908;

    /* Text */
    --text-main: #e2d7e0;
    --text-muted: #bb9ab5;

    /* Borders */
    --border-solid: #4c3737;

    /* Accent */
    --accent: #ff8ef1;
    --accent-hover: #9eafff;
    
    --card-hover: #ff8ef111;
}

