/* ===== THEME VARIABLES ===== */

:root {
 /* Backgrounds */
 --bg-main: #fff8e6;
 --bg-dark: #f6f0df;

 /* Text */
 --text-main: #2b2b2b;
 --text-muted: #777;

 /* Borders */
 --border-solid: #ccc;

 /* Accent */
 --accent: #b56aab;
 --accent-dark: #e280d5;
 --accent-hover: #9eafff;
 --bubble: #00000011;

 --card-hover: #b56aab22;

 --trans: linear-gradient(0deg, #2299ff 30%, #d54abf 40%, #aaaaaa 50%, #d54abf 60%, #2299ff 70%);
}
