/* ===== THEME VARIABLES ===== */

:root {
    /* Backgrounds */
    --bg-main: #fff8e6;

    /* Text */
    --text-main: #2b2b2b;
    --text-muted: #777;

    /* Borders */
    --border-solid: #ccc;

    /* Accent */
    --accent: #d57eca;
    --accent-hover: #9eafff;
}

/* ===== Base ===== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg-main);
    color: var(--text-main);
    font-family: "Times New Roman";
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

/* ===== Header ===== */

header {
    border-bottom: 1px solid var(--border-solid);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.theme-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    padding: 0;
}

.theme-btn img {
    width: 20px;
    height: 20px;
    display: block;
}

nav {
    display: flex;
    gap: 1.5rem;
    font-size: 0.9rem;
}

nav a {
    text-decoration: none;
    color: var(--text-muted);
}

nav a:hover {
    text-decoration: underline;
    color: var(--accent-hover);
}

nav .active {
    color: var(--text-main);
    text-decoration: underline;
}

/* ===== Intro ===== */

.prefix {
    color: var(--text-muted);
    margin-bottom: -.5rem;
}

.intro h1 {
    font-size: 2rem;
    margin-bottom: .5rem;
}

.subtitle {
    color: var(--text-muted);
    margin-bottom: 1rem;
}

.bio p {
    margin-bottom: 0.5rem;
}

.bio a {
    text-decoration: none;
    color: var(--accent);
}

.bio a:hover {
    text-decoration: underline;
    color: var(--accent-hover);
}

/* ===== Footer ===== */

footer {
    margin-top: 3rem;
    border-top: 1px solid var(--border-solid);
    padding-top: 1rem;
    font-size: 0.75rem;
    color: var(--text-muted);
}