/* ===== THEME VARIABLES ===== */

:root {
    /* Backgrounds */
    --bg-main: #fff8e6;

    /* Text */
    --text-main: #2b2b2b;
    --text-muted: #777;

    /* Borders */
    --border-solid: #ccc;

    /* Accent */
    --accent: #b56aab;
    --accent-hover: #9eafff;
    
    --card-hover: #b56aab22;
}