/* ===== THEME VARIABLES ===== */

:root {
 /* Backgrounds */
 --bg-main: linear-gradient(0deg, #ffdd99, #ffffff, #dbefff);
 --bg-dark: #ffc90011;

 /* Text */
 --text-main: #2b2b2b;
 --text-muted: #777;

 /* Borders */
 --border-solid: #ccc;

 /* Accent */
 --accent: #166ecd;
 --accent-dark: #228cff;
 --accent-hover: #9eafff;
 --bubble: #00000011;

 --card-hover: #1e7fe911;

 --trans: linear-gradient(0deg, #2299ff 30%, #d54abf 40%, #aaaaaa 50%, #d54abf 60%, #2299ff 70%);
 
 --petal-opacity: 100%;
}
