* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--bg-main);
    color: var(--text-main);
    font-family: "Times New Roman";
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

/* ===== Header ===== */

header {
    border-bottom: 1px solid var(--border-solid);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.theme-btn {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    padding: 0;
}

.theme-btn img {
    width: 20px;
    height: 20px;
    display: block;
    transition: transform 0.25s ease;
}

.theme-btn img:active {
    transform: scale(0.8)
}

nav {
    display: flex;
    gap: 1.5rem;
    font-size: 0.9rem;
}

nav a {
    text-decoration: none;
    color: var(--text-muted);
}

nav a:hover {
    text-decoration: underline;
    color: var(--accent-hover);
}

nav .active {
    color: var(--text-main);
    text-decoration: underline;
}

/* ===== Intro ===== */

.prefix {
    color: var(--text-muted);
    margin-bottom: -.5rem;
}

.intro h1 {
    font-size: 2rem;
    margin-bottom: .5rem;
}

.subtitle {
    color: var(--text-muted);
    margin-bottom: 1rem;
}

.bio p {
    margin-bottom: 0.5rem;
}

.bio a {
    text-decoration: none;
    color: var(--accent);
}

.bio a:hover {
    text-decoration: underline;
    color: var(--accent-hover);
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 2rem;
}

.gallery-item {
    border: 1px solid var(--border);
    padding: 0.5rem;
    border-radius: 6px;
    background: var(--bg);
}


.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

.gallery-item h3 {
    margin: 0.25rem 0;
    font-size: 1rem;
}

.gallery-item p {
    font-size: 0.85rem;
    color: var(--muted);
    margin: 0.1rem 0;
}

/* ===== Footer ===== */

footer {
    margin-top: 3rem;
    border-top: 1px solid var(--border-solid);
    padding-top: 1rem;
    font-size: 0.75rem;
    color: var(--text-muted);
}